{%extends 'layout/main.html' %}


{% block content %}
{% load static %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% load static %}




{% for message in messages %}
<h3>{{ message}}</h3>
{% endfor%}

              


  <div id="form2" class="container form2">
    <h3>Customer Registration Form</h3>
      <form action="{% url 'accounts:registration' %}" method="POST" class="row g-3">
        
          {% csrf_token %}
        
       
          <div class="col-md-6 form2">
              {{ form.username|as_crispy_field }}
          </div>
          <div class="col-md-6 form2">
              {{ form.first_name|as_crispy_field }}
            </div>
  
          <div class="col-md-6 form2">
              {{ form.last_name|as_crispy_field }}
            </div>
  
            <div class="col-md-6 form2">
              {{ form2.phone|as_crispy_field }}
            </div>
            <div class="col-md-6 form2">
              {{ form.email|as_crispy_field }}
            </div>
            <div class="col-md-6 form2">
              {{ form2.country|as_crispy_field }}
            </div>
  
           
          <div class="col-md-6 form4">
            {{ form.password1|as_crispy_field }}
        </div>
        <div class="col-md-6 form4">
          {{ form.password2|as_crispy_field }}
      </div>
    
          <div class="col-12">
       <input type="submit" class="btn btn-danger btn-lg" value="submit" >   
          </div>
  

          <div class="error">
            {{ form.errors }}
            {{ form2.errors}}
          
          </div>
   
    
    
    <div class="mt-0">  
      
        <div class="d-flex justify-content-center links">
            Already Have An Account? <a href="{% url 'accounts:login' %}"
            class=" mm-2" >Login</a>
        </div>
    </div>    
        </form>
  
    </div>
    

  {% endblock %}





