{%extends 'layout/main.html' %}

{% block content %}
{% load static %}

<style>
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }

</style>
<div class="py-3 bg-primary">
    <div class="container">
        <a href="{% url 'products:home' %}" class="text-white">Home /</a>
        <a href="{% url 'products:checkout' %}" class="text-white">checkout /</a>
    </div>
</div>

{% if user.is_authenticated %}
<div class="container mt-3">
    <form action="{% url 'products:place_order' %}" method="POST">
        {% csrf_token %}
    <div class="row">
        <div class="col-md-7">
            <div class="card shadow">
                <div class="card-body">
                    <h6>Basic Details</h6>
                <hr>
                <div class="row checkoutform">
                    <div class="col-md-6">
                        <label for="">First Name</label>
                        <input type="text" name="first_name" value="{{ user.first_name}}" class="form-control" required  readonly class="form-control">
                    </div>  
                    <div class="col-md-6">
                        <label for="">Last Name</label>
                        <input type="text" name="last_name" value="{{ user.last_name}}" class="form-control" required  readonly class="form-control">
                    </div> 
                    <div class="col-md-6 mt-2">
                        <label for="">Email</label>
                        <input type="email" name="email" value="{{ user.email}}" class="form-control" required  readonly class="form-control">
                    </div> 
                    <div class="col-md-6 mt-2">
                        <label for="">Phone</label>
                        <input type="text" name="phone"  value="{{ user.customer.phone }}" class="form-control" required readonly class="form-control">
                    </div> 
                    <div class="col-md-12 mt-2">
                        <label for="">Address</label>
                        <textarea type="text" name="address" id="phone" class="form-control" required  placeholder="Enter address" class="form-control"></textarea>
                       
                    </div> 
                    <div class="col-md-6 mt-2">
                        <label for="">City</label>
                        <input type="text" name="city" id="city" class="form-control" required  placeholder="Enter city" class="form-control">
                    </div> 
                    <div class="col-md-6 mt-2">
                        <label for="">State</label>
                        <input type="text" name="state" id="state" class="form-control" required  placeholder="Enter state" class="form-control">
                    </div>  
                    <div class="col-md-6 mt-2">
                        <label for="">Pin Code</label>
                        <input type="text" name="pin_code" id="pin_code" class="form-control" required  placeholder="Enter code" class="form-control">
                    </div>
                    <div class="col-md-6 mt-2">
                        <label for="">Country</label>
                        <input type="text" name="country"  class="form-control" required placeholder="Enter country" class="form-control">
                    </div> 
                    <div class="col-md-6 mt-2">
                        <label for="">Payment Mode</label>
                        <select name="payment_mode" id="">
                            <option value="cod">Cash on Delivery</option>
                            <option value="online_payment">Card Payment</option>
                        </select>
                        <!--<label for="">Payment Mode</label>
                        <input type="text" name="payment_mode"  id="payment_mode" class="form-control" required placeholder="payment mode" class="form-control">-->
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body">
                <h6>Order Summery</h6>
                <hr>
                {% if cartItems %}
                <table class="table table-stripeds table-bordered">
                    <tr>
                    <thead>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </thead>
                    </tr>
                    <tbody>
                        
                            {% for item in cartItems %}
                            <tr>
                                <td><img src="{{item.product.img.url }}" height="50px" width="50px" class="me-3"> {{ item.product.name }}</td>
                                <td>{{ item.product_qty }}</td>
                                <td>{{ item.product.selling_price | stringformat:'d' }}</td>
                            </tr>
                            {% endfor %}
                     
                    </tbody>
                </table>
                <h6 class="fw-bold">Grand Total 
                    <span class="float-end" id="amt">$ {{ total_price | stringformat:'d'}}</span>
                </h6>
                <div class="mt-3">
                    <BUtton type="submit" class="btn btn-success w-100" id="code" name="online payment">Submit</BUtton>
                    <!--<BUtton type="submit" class="btn btn-success w-100" id="code" name="online payment"> COD | Place Order</BUtton>
             
                <button type="button" id="card-payment" name="online payment" >online payment</button>
                <input type="button" value="Continue" class="btn btn-primary  w-100 mt-2">-->
                </div>
                {% else %}
                <h4>Your cart is empty</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    </form>
</div>

{% endif %}


{% endblock %}

{% block script %}


{% endblock script %}