{% extends 'layout/main.html' %}



{% block content %}
{% include 'includes/slider.html'%}

<h2>e-commerce app</h2>


<div class="container">
    <div class="row">
        <div class="col-md-12">
         <h3>Trending Products</h3>
            <div class="row">
                {% for cat in trending %}
                <div class="col-md-3">
                    <div class="card">
                      <a href="{% url 'products:product_detail' cat.category.slug  cat.slug %}">
                    
                        <div class="card-body">
                            <div class="category-image">
                                <img src="{{ cat.img.url }}" class="w-100" alt="">
                            </div>
                            <h4 class="text-center">{{cat.name}}</h4>
                            <span class="float-start">old :$ <s>{{ cat.original_price | stringformat:'d'}}</s></span>
                            <span class="float-end"> new :$ <span>{{ cat.selling_price|stringformat:'d'}}</span></span>
                          
                            
                            <span class="mb-2">
                                {% if cat.quantity > 0 %}
                                <a class="btn btn-primary" href="{% url 'products:product_detail' cat.category.slug  cat.slug %}">View</a>
                                <!--<button type="button" class="btn btn-primary btn-sm me-3 float-end addToCart">Add to Cart</button>-->
                                {% else %}
                                <button type="button" class="btn btn-danger btn-sm me-3 float-start" disabled>Out Of Stock</button>
                                {% endif %}
                            </span>   
                          
                        </div>
                       
                      </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}