{%extends 'layout/main.html' %}

{% block content %}
<style>
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
         
            <div class="row">
                {% for cat in products %}
                <div class="col-md-3">
                    <div class="card">
                      <a href="{% url 'products:product_detail' cat.category.slug  cat.slug %}">
                    
                        <div class="card-body">
                            <div class="category-image">
                                <img src="{{ cat.img.url }}" class="w-100" alt="">
                            </div>
                            <h4 class="text-center">{{cat.name}}</h4>
                            <span class="float-start">old :$ <s>{{ cat.original_price | stringformat:'d'}}</s></span>
                            <span class="float-end"> new :$ {{ cat.selling_price|stringformat:'d'}}</span>
                        </div>
                      </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}